.hero {
  padding-top: 90px;
  background-color: var(--background-color-main);
}
.hero-content {
  /* margin-top: 150px; */
  background-color: var(--background-color-second);
  display: flex;
  border-radius: 16px;
  margin: 0px 40px 40px 40px;
}
.hero-btns .first {
  width: 140px;
  height: 40px;
  background: linear-gradient(to right, #1aa7ec 0%, #797ef6 100%);
  border: none;
  font-weight: 800;
  border-radius: 6px;
  color: white;
}
.texts {
  text-align: left;
  padding: 170px 0px 0px 60px;
}
.texts p {
  font-size: 18px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 400;
  color: #999999;
  padding: 20px 0px;
}
.texts h1 {
  font-size: 48px;
  color: var(--text-color);
  font-weight: 600;
}
.texts h1 span {
  background: linear-gradient(45deg, #797ef6, #1aa7ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.owl {
  width: 560px;
  margin: 50px 60px 50px 0px;
  /* border-radius: 20px; */
}

/* // section wallets */

/* .wallets {
  display: flex;
  justify-content: center;
}
.wallet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #999999;
  margin: 10px;
  border: none;
  border-radius: 15px;
  width: 160px;
} */
.wallets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.wallet-card {
  background-color: #0c103c;
  border: 1px solid #ccc;
  padding: 20px;
  width: 160px;
  border-radius: 10px;
  border: none;
  /* align-items: center; */
  /* display: flex; */
  opacity: 0;
  transform: translateX(-30%);
  transition: opacity 0.37s ease-out, transform 2s ease-out;
}
.wallet-card p {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.wallet-card.show {
  opacity: 1;
  transform: translateX(0);
}

.wallet-img img {
  width: 50px;
  height: 50px;
}
.wallet-img {
  display: flex;
  justify-content: center;
}

.wallet-card:nth-child(1).show {
  transition-delay: 0s;
}
.wallet-card:nth-child(2).show {
  transition-delay: 0.4s;
}
.wallet-card:nth-child(3).show {
  transition-delay: 0.8s;
}
.wallet-card:nth-child(4).show {
  transition-delay: 1.2s;
}
.wallet-card:nth-child(5).show {
  transition-delay: 1.6s;
}
.wallet-card:nth-child(6).show {
  transition-delay: 2s;
}
/* circle card section   */
.circle-list-cont {
  background-color: #1c205d;
  margin: 50px;
  border-radius: 20px;
}
.circle-users-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 30px; /* Расстояние между колонками и карточками */
}

.column {
  display: flex;
  flex-direction: column; /* Колонки по вертикали */
  gap: 30px; /* Расстояние между карточками внутри колонки */
}
/* nft  */

.nft-cards {
  display: flex;
  justify-content: center;
}
