header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--background-color-main);
}

.logo {
  margin-left: 30px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-list li {
  padding: 10px;
}
.nav-list li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px; /* Толщина линии */
  background-color: rgb(255, 255, 255);
  transition: width 0.4s ease;
  border-radius: 2px;
}

.nav-list li a:hover::after {
  width: 100%;
}

.nav-list li a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.4s ease;
  position: relative;
}

.wallet {
  background-color: var(--button-background-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.wallet:hover {
  background-color: var(--button-hover-background-color);
}

.dark-mode-toggle {
  border: none;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--toggle-btn);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode-toggle svg {
  fill: var(--text-color-togl);
  width: 20px;
  height: 20px;
}
