.slick-slide img {
  width: 100%;
  transition: transform 1.2s ease;
}
.slick-slide img:hover {
  transform: scale(1.2);
}
.slick-slide {
  /* width: 500px; */
}
.slick-list {
  border-radius: 16px;
}
.owl-name {
  position: absolute;
  bottom: 50px;
  color: white;
  padding-left: 20px;
}
.owl-text {
  position: absolute;
  bottom: 30px;
  color: white;
  padding-left: 20px;
}
