* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
#root {
  background-color: #040836;
}
:root {
  --background-color-main: white;
  --background-color-second: #e4e5fd;
  --toggle-btn: white;
  --text-color: black;
  --text-color-togl: black;
}
